@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
    background: #21325E;
    font-family: 'Poppins', sans-serif;
}
#container{
    background: #3E497A;
    width: 80%;
    margin: 30px auto;
    padding: 30px 20px;
}

p{
    text-align: center;
    background: #F0F0F0;
    color: #21325E;
    font-size: 24px;
    margin: 10px auto;
    padding: 10px 15px;
    font-weight:500;
}
button{
    background: #F1D00A;
    padding: 7.5px 15px;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    box-shadow: 0 7px 10px #000;
    margin-bottom:20px; 
}